body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-style: normal; 
    font-size: 16px;
}

header, nav, main, footer {
    margin: 20px;
}

h1, h2, h3 {
    color: grey;
}

div {
    font-size: 1em; 
}

span {
    font-size: 1.6em; 
}

strong {
    font-size: 1.6em;
}

.footer-social {
    
}

.list-unstyled {
    list-style: none;
}